Source: edwig
Section: misc
Priority: extra
Maintainer: enRoute team <team@enroute.mobi>
Build-Depends: debhelper (>= 8.0.0), git-core, build-essential, curl, ca-certificates, pkg-config, libxml2-dev
Standards-Version: 3.9.4
Homepage: http://enroute.mobi

Package: edwig
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Realtime Public Transport server
