		<RequestTimestamp>{{ .RequestTimestamp.Format "2006-01-02T15:04:05.000Z07:00" }}</RequestTimestamp>
				<MessageIdentifier>{{ .MessageIdentifier }}</MessageIdentifier>
				<Lines>{{ range .Lines }}
					<LineDirection>
						<LineRef>{{ . }}</LineRef>
					</LineDirection>{{ end }}
				</Lines>
