<siri:GeneralMessageCancellation>
				<siri:RecordedAtTime>{{ .RecordedAtTime.Format "2006-01-02T15:04:05.000Z07:00" }}</siri:RecordedAtTime>
				<siri:ItemRef>{{ .ItemIdentifier }}</siri:ItemRef>
				<siri:InfoMessageIdentifier>{{ .InfoMessageIdentifier }}</siri:InfoMessageIdentifier>
			</siri:GeneralMessageCancellation>
