<ServiceRequest>
	<RequestTimestamp>{{.RequestTimestamp.Format "2006-01-02T15:04:05.000Z07:00"}}</RequestTimestamp>
	<RequestorRef>{{.RequestorRef}}</RequestorRef>
	<MessageIdentifier>{{.MessageIdentifier}}</MessageIdentifier>
	<FacilityMonitoringRequest>
		{{ .BuildFacilityMonitoringRequestXMLRaw }}
	</FacilityMonitoringRequest>
</ServiceRequest>
