{{ $tag := .Tag }}
{{ $prefix := .Prefix }}
{{ if .DefaultValue }}<{{ $prefix }}{{ $tag }}>{{ escapeCData .DefaultValue }}</{{ $prefix }}{{ $tag }}>{{ end }}
{{ range $key, $value := .Translations }}
                   <{{ $prefix }}{{ $tag }} xml:lang="{{ $key }}">{{ escapeCData $value }}</{{ $prefix }}{{ $tag }}>
                {{ end }}
